<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="CLIENTINSTALLPATH" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConfigFilesGroup">
            <Component Id="cmp2E7EA3E3448445B68DEBB1CADAC306A5" Directory="CLIENTINSTALLPATH" Guid="{315B4D5C-8492-434F-8B4B-2AA7F846218C}">
                <File Id="fil166A6F73F3C593ED6BD27AA56C666B18" KeyPath="yes" Source="$(var.Config)\FactualVRConfig.ini" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>